<div class="screen-div">
    <div class="form-container">
        <form class="register-form">
            <h3>Register!</h3>
            <label>Email:</label>
            <input class="email-input">
            <label>Username:</label>
            <input class="username-input">
            <label>Password:</label>
            <input class="password-input" type="password">
            <button type="submit" (click)="register(form)">Register</button>
            <a href="auth/login">Got an account? Log in!</a>
        </form>
    </div>
</div>

