.dropdown {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    width: calc(100% - 2rem);
    height: fit-content;
    background-color: rgba(196, 132, 238, .5);
    backdrop-filter: blur(6px);
}

.dropdown-content {
    display: flex;
    flex-direction: column;
}

.horizontal-separator {
    margin: 3px;
    min-height: 2px;
    height: 2px;
    background-color: rgb(89, 57, 119);
}