.dropdown {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    width: calc(100% - 2rem);
    height: fit-content;
    background-color: rgb(216, 175, 255);
}

.dropdown-content {
    display: flex;
    flex-direction: column;
}