<div class="view-container">
    <div class="program-info-container">
        <div class="program-general-info-container">
            general info
        </div>
        <div class="separator"></div>
        <div class="program-additional-info-container">
            <div class="images-container">
                images
            </div>
            <div class="instructor-info-container">
                instructor info
            </div>
        </div>
    </div>
    <div class="comments-container">
        comments container
    </div>
</div>
