<body>
    <div class="page-container">
        <div class="options-container">
            options...
        </div>
        <div class="programs-container">
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
        </div>
    </div>
</body>
