<div class="nav-bar">
    <button (click)="showHome()"><b>Home</b></button> 
    <div class="dropdown-button-div">
        <button (click)="showFitnessPrograms()" id="btn-categories"><b>Fitness programs</b></button>
        <app-dropdown-menu></app-dropdown-menu>
    </div>
    <button (click)="showActivityJournal()"><b>Your activities</b></button>
    <button><b>Your programs</b></button>
    <button><b>Contact advisors</b></button>
    <button *ngIf="!loggedIn" (click)="logIn()"><b>Log in</b></button>
    <div *ngIf="loggedIn" class="dropdown-button-div">
        <button (click)="logIn()"><b>Account</b></button>
        <app-dropdown-menu></app-dropdown-menu>
    </div>
</div>

<router-outlet />
