.article-card-container {
    min-height: 20rem;
    min-width: 17rem;
    max-height: 20rem;
    max-width: 17rem;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0.7rem;
    color: black;
    padding: 1rem;
}

.article-card-container:hover {
    background-color: rgb(238, 238, 238);
}