<body>
    <div class="page-container">
        <div class="options-container">
            <h2 class="title">Your fitness programs</h2>
            <div class="buttons-container">
                <button class="new-button">+ Add new program</button>
                <button class="new-button">Delete program</button>
            </div>
        </div>
        <div class="programs-container">
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
        </div>
    </div>
</body>
