<body>
    <div class="page-container">
        <div class="options-container">
            <h2 class="title">Available fitness programs</h2>
            <div class="filter-container">
                <input>
                <button class="filter-button">Filter</button>
            </div>
        </div>
        <div class="programs-container">
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
            <app-program-card></app-program-card>
        </div>
    </div>
</body>
