<body>
    <div class="horizontal-div container">
        <div class="chat-users-sidebar-container">
            <app-chat-users-sidebar></app-chat-users-sidebar>
        </div>
        <div class="content-container chat">
            <div class="vertical-div messages-container">
                <div class="message my-message">
                    <b>User1</b>
                    First message
                </div>
                <div class="message user-message">
                    <b>User2</b>
                    Second message which is very long so i can test how the wrapping looks
                </div>
                <div class="message my-message">
                    <b>User1</b>
                    aa
                </div>
                <div class="message user-message">
                    <b>User2</b>
                    aa
                </div>
                <div class="message my-message">
                    <b>User1</b>
                    aa
                </div>
                <div class="message user-message">
                    <b>User2</b>
                    aa
                </div>
                <div class="message my-message">
                    <b>User1</b>
                    aa
                </div>
                <div class="message user-message">
                    <b>User2</b>
                    aa
                </div>
            </div>
            <div class="new-message-container horizontal-div">
                <textarea class="new-message-input"></textarea>
                <button class="message-button">Send</button>
            </div>
        </div>
    </div>
</body>

