/* You can add global styles to this file, and also import other style files */

html, body { 
    height: calc(100% - 1rem);
    max-height: calc(100% - 1rem);
 }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(231, 231, 231);
}

input, button {
    margin: 0.2rem;
    border-radius: 7px;
    max-height: 2rem;
}

input {
    height: 1.5rem;
}

button {
    border: none;
    min-height: 2rem;
    min-width: 8rem;
    font-weight: 600;
    background-color: blueviolet;
    color: white;
}

button:hover {
    background-color: rgb(216, 175, 255);
    color: black;
    cursor: pointer;
}

.horizontal-separator {
    height: 3px;
    min-height: 3px;
    width: calc(100% - 2rem);
    border-radius: 3px;
    background-color: rgb(132, 132, 132);
    margin: 1rem;
}

.vertical-separator {
    width: 3px;
    min-width: 3px;
    height: calc(100% - 2rem);
    border-radius: 3px;
    background-color: rgb(132, 132, 132);
    margin: 1rem;
}

.content-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
    min-width: 25rem;
    width: 20rem;
    height: calc(100% - 4rem);
    max-width: 90%;
}

.dropdown-link:link, .dropdown-link:visited, .dropdown:hover, .dropdown-link:active {
    text-decoration-line: none;
}