
<body>
    <div class="journal-container">
        <div class="logs-container content-container">
            <h2>Your activities</h2>
            <div class="logs-entries-container">
                <app-activity-entry/>
                <div class="separator"></div>
                <app-activity-entry/>
                <div class="separator"></div>
                <app-activity-entry/>
                <div class="separator"></div>
                <app-activity-entry/>
                <div class="separator"></div>
                <app-activity-entry/>
                <div class="separator"></div>
                <app-activity-entry/>
                <div class="separator"></div>
                <app-activity-entry/>
            </div>
        </div>
        <div class="graph-container content-container">
            <h2>Your trends</h2>
        </div>
    </div>
</body>
